/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 20px;
	padding: 0;
	background: #FFFFFF;
	font: normal .7em Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
}

form {
	margin: 10;
	padding: 10;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #333333;
}

p, blockquote, ol, ul {
	line-height: 160%;
}

a {
	color: #3A69BA;
}

a:hover {
	text-decoration: none;
}

/* Boxed */

.boxed {
	float: left;
	clear: left;
	width: 230px;
	margin: 0 0 0 0;
	padding: 0;
	background: #EFF3F9;
}

.boxed .heading {
	margin-top: 0;
	padding: 8px 15px;
	background: #5E80BD url(/images/fondbleu.png) center bottom;
	text-transform: uppercase;
	letter-spacing: 2px;
	font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
	/*color: #FFFFFF;*/
	color: #000099;
}

.boxed .content {
	margin: 0;
	padding: 5px 14px 10px 14px;
}

.boxed ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

.boxed li {
	padding: 3px 0;
	border-top: 1px dotted #1F1F21;
}

.boxed li.first {
	border: none;
}

.boxed a {
	padding-left: 10px;
	background: url(images/img4.gif) no-repeat left center;
	text-decoration: none;
}

/* Wrapper */

#wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* Header */

#header {
	float: left;
	width: 230px;
	height: 150px;
		background: url(/images/myreview.png)  left center;
}

#header h1 {
	margin: 0;
	padding: 43px 0 0 0;
	text-align: center;
	letter-spacing: -1px;
	font-size: 2.5em;
}

#header h2 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1.2em;
	font-style: italic;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Pages */

#pages {
	float: right;
	width: 730px;
	height: 150px;
	background: url(/images/fondbleu.png);
}

#pages h2 {
float: left;
	margin: 0;
	padding: 30px 30px 30px 30px ;
	list-style: none;
		font-size: 3.2em;
	line-height: normal;
		font-style: italic;
	color: #000099;
}

#pages ul {
	float: right;
	margin: 0;
	padding: 20px 15px 0 0;
	list-style: none;
	line-height: normal;
}

#pages li2 {
	display: inline;
}

#pages a {
	padding-left: 2em;
	text-decoration: none;
	font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#pages a:hover {
	text-decoration: underline;
}

/* Content */

#content {
	clear: both;
	padding-top: 10px;
}

/* Posts */

#posts {
	float: right;
	width: 700px;
	padding-right: 20px;
}

.post {
	padding-top: 10px;
}


.post h2 {
	font: normal 1.8em Tahoma, Arial, Helvetica, sans-serif;
	color: #000099;
}

.post .title {
	margin: 0;
	font-size: 2em;
}

.post .posted {
	margin-top: 0;
	font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
	color: #999999;
}

.post .meta {
	margin: 2em 0 3em 0;
	border-top: 1px dotted #939A3C;
	font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
	color: #999999;
}

.post .meta p {
	margin: 0;
}

/* Archives */

#archives {
}

/* Search */

#search {
}

#search .content {
	padding-bottom: 12px;
}

#textfield1 {
	width: 156px;
	padding: 5px 5px;
	border: 1px solid #000000;
	font: bold 1em Tahoma, Arial, Helvetica, sans-serif;
	color: #000000;
}

#submit1 {
	display: none;
}

/* Footer */

#footer {
	clear: both;
	border-top: 1px dotted #000000;
	font: normal .8em Tahoma, Arial, Helvetica, sans-serif;
	color: #999999;
}

#footer a {
	color: #999999;
}

/*
 Old myreview settings: do better 
 */
H1, H2, H3 {color: #FF6600}
 
th.header {background-color:#000099; color:white; text-align:left}
tr.header {background-color:#000099; color:white; text-align:left}
tr.odd {background-color:#eeeeee}
tr.even {background-color:#dddddd}
